.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 340px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .adminShiftDelete{
    position:absolute;
    z-index: 10;
    margin: -4% 0 0 -3%;
  }