strong {
color: rgb(34, 233, 61);
font-size: larger;
}
div {
    box-sizing: var(p);
    background-color: rgb(27, 55, 214);
border-radius: 10px;
margin-right:500px;

}
p.p1{
   text-align: center;
    color: rgb(226, 65, 16);
    border-bottom: 10cap;
}